<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home - Mood Detector AI</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"
</head>
<body>
    <div>
    <h1>
        <center>MOOD DETECTOR AI</center>
    </h1>
    </div>
       {% block content %}{% endblock %}
    <div>
        <footer>
            <center>
                &copy; 2026. Gabriel Onyedika Nnamoko
        <p><form action="https://linkedin.com/in/gabriel-onyedika-nnamoko">
            <button type="submit">Visit my LinkedIn</button>
        </form></p>
            </center>
        </footer>
    </div>
</body>
</html>